$color-card-info: rgb(246, 238, 236);

$tipografiaGeneral:'Quicksand', sans-serif;

$centrado: center;

$colores-redes: (
    whatsapp: rgb(8, 85, 8),
    facebook: #3b5998,
    instagram:  #e1306c,
);


$colores-hover: (
    navHeader: black,
    botonEnviar: rgb(246, 238, 236),
    navFooter: rgb(107, 64, 64)
)

